html, body {
    height: auto
}

/**custom theme**/
body.__sonic-theme,
.__sonic-theme .main-header .navbar .sidebar-toggle{
    color: #73879C;
}
.__sonic-theme .main-header .navbar .nav>li>a{
    color: #515356 !important;
    font-weight: 600;
}
.__sonic-theme .main-header .navbar {
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
}
.__sonic-theme .main-header .navbar .sidebar-toggle {
    font-weight: 600;
    font-size: 25px;
    padding: 10px 15px;
}
.__sonic-theme .main-header .navbar, .__sonic-theme .main-header .navbar .sidebar-toggle:hover {
    background-color: #ecf0f5;
    color: #73879C;
}
.__sonic-theme .wrapper, .__sonic-theme .main-sidebar, .__sonic-theme .left-side,
.__sonic-theme .main-header .logo, .__sonic-theme .main-header .logo:hover,
.__sonic-theme .sidebar-menu>li:hover>a, .__sonic-theme .sidebar-menu>li.active>a, .__sonic-theme .sidebar-menu>li.menu-open>a
{
    background-color: white;
}
.__sonic-theme .sidebar-menu a {
    font-weight: 600;
}
.__sonic-theme .sidebar-menu>li.active>a {
     border-left: none;
}
.__sonic-theme .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: white;
}
.__sonic-theme .treeview-menu {
    padding-left: 0;
}
.__sonic-theme .sidebar-menu>li.active {
    border-right: 5px solid #1ABB9C;
}
.__sonic-theme .treeview-menu>li.active, .__sonic-theme .treeview-menu>li:hover  {
    background: rgba(255,255,255,.05);
}
.__sonic-theme .sidebar-menu>li.active>a, .__sonic-theme .treeview.menu-open>a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#1ABB9C,white),green;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
}
.__sonic-theme .pace .pace-activity {
    border-top-color: #1ABB9C;
    border-left-color: #1ABB9C;
}
.__sonic-theme .pace .pace-progress {
    background-color: #1ABB9C;
}
.__sonic-theme .el-button--success {
    background: #26B99A;
    border: 1px solid #169F85;
}
.__sonic-theme .treeview-menu>li>a {
    padding: 10px 10px 10px 25px;
}
.required {
    color: red;
}

/**custom theme end*/

.pagination-wrap {
    text-align: center; padding-top: 20px;
}

/**custom select2***/
.select2-container--default .select2-selection--single {
    display: block;
    width: 100%;
    height: 34px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d6de !important;
    border-radius: 0 !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 0 !important;
}
.select2 {
    width: 100% !important;
}
.has-error .select2-selection {
    border-color: #dd4b39 !important;
}
.select2-selection {
    border-radius: 0 !important;
    border-color: #d2d6de !important;
}
.select2-selection__choice {
    background-color: #1377cc !important;
}

/**end custom select2***/

/**form inline style**/
.form-inline-custom-style .form-group {
    padding-left: 0;
}
/**end form inline style**/

/*===custom element ui========*/

/**datepicker*/
.flatpickr, .vdp-datepicker input {
    background-color: #fff !important;
}
.el-date-editor.el-input {
    width: 100%
}
.el-input__inner {
    border-radius: 0;
    height: 34px;
    line-height: 34px;
    border-color: #d2d6de
}
.el-input__icon {
    line-height: 34px;
}
.has-error .el-input__inner {
    border-color: #dd4b39;
}
.el-input.is-disabled .el-input__inner {
    color: #555;
    background-color: #eee;
    border-color: #ccc;
}
.form-search .select2-container--default .select2-selection--single {
    width: 200px;
}
.disabled .form-control[disabled],
.disabled input,
.disabled .select2-selection{
    background-color: #fff !important;
    cursor: default !important;
}

table td.selected {
    background-color: red
}
.bg-blocked{
    background-color: #f24147 !important;
}
.bg-selected {
    background-color: #e0cb5a;
}
.bg-pending {
    background-color: #dab54c85;
}
.el-date-editor--time-select {
    width: 220px !important;
}
//span.select2-container {
//    z-index: 3000;
//}
//.navbar-static-top, .main-header,
//.el-picker-panel.el-date-picker,
//.el-notification, .el-message {
//    z-index: 3001 !important;
//}
//.el-loading-mask{
//    z-index: 3005
//}
//.el-dialog__wrapper {
//    z-index: 3010 !important;
//}
.el-col {
    margin-right: 5px
}
.btn-default {
    background-color: #fff;
}

/**end custom element ui**/
.padding-7 {
    padding-top: 7px;
}
.print {
    font-family: "Times New Roman";
    h2, h5, h4 {
        font-family: "Times New Roman";
    }
    tr, td {
        border: none !important;
        font-size: 15px;
    }
    .name {
        margin-top: 80px;
    }
}

.disabled input, .disabled select, .disabled .el-input, .disabled textarea, .disabled .select2 {
    pointer-events: none;
}
.text-wrap .cell{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
}
