.ult-upsell * {
  box-sizing: border-box;
  line-height: 1.5;
}
.ult-upsell.modal {
  visibility: visible;
  z-index: 1050;
  width: 95%;
  display: none;
  overflow-y: auto;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.ult-upsell.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
.ult-upsell.fade.show {
  opacity: 1;
}
.ult-upsell .popup-modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  transform: translate(0, 0);
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.ult-upsell .popup-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
}
.ult-upsell .popup-modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

@media only screen and (min-width: 600px) {
  .ult-upsell.modal {
    width: 50%;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ult-upsell.modal {
    width: 30%;
  }
}

